<div class="footer">
    <div class="div1">
        <div class="div1_item">
            <h6 style="padding-bottom: 30px"><a href="#">化妆</a></h6>
            <h4><a href="#">艺术家LIVECHAT</a></h4>
            <p>聊到 <br>艺术家关于与实时聊天的烦恼！</p>
        </div>
        <div class="div1_item" style="width: 45%">
            <h6 style="padding-bottom: 30px"><a href=" uerCenter.html">服务中心</a></h6>
            <h4><a href="#">080 619 8888</a></h4>
            <p>服务时间 09:00~18:00<br>(周一至周五除节假日外)</p>
        </div>
        <div class="div1_item" style="text-align: right;width: 19.5%">
            <h1 style="padding-bottom: 20px;line-height: 40px;font-size: 24px"><a href=" findStore.html">查找商店</a><br>
                <a href=" brand.html">品牌介绍</a> <br><a href="#">会员</a><br><a href=" uerCenter">网站地图</a>
            </h1>
            <h6><a href="#">登录</a>&nbsp;&nbsp;&nbsp; <a href="#">注册</a></h6>
        </div>
    </div>
    <div class="div2" style="overflow: hidden;padding-top: 15px">
        <div class="div2_item" style="float: left">
            <div>
                <a href="#">服务条款</a>
                <a href="#" style="font-weight: bold">隐私政策</a>
                <a href="#">视频设备管理政策</a>
                <a href="#">确认承运人信息</a>
                <a href="#">未经授权收集电子邮件</a>
                <a href="#">电子通知</a>
            </div>
            <div>
                <p>Esuga 首席执行官: Lim Jung Sik &nbsp;&nbsp;&nbsp; 总部: 首尔龙山区汉江大道100号(汉江2街)6楼</p>
                <p>联系我们 | 隐私政策 | <a href=" private.html">服务条款
                        |</a></p>
                <p>个人信息保护官: Kim Sung Hee 客户服务: 080-619-8888 &nbsp;&nbsp;&nbsp;电子邮件:
                    espoirmall@espoir.com &nbsp;&nbsp;&nbsp;托管服务提供商:</p>
                <p>
                    我们的购物中心适用于购买代管INIPAY安全服务㈜KG Inicis
                    用于支付您的安全mutongjang交易服务的订单&nbsp;&nbsp;&nbsp;
                    <a href=" myPage.html">订单状态</a>
                </p>
                <p style="margin-top: 50px">Copyright ⓒ 2018 espoir. All Rights Reserved.</p>
            </div>
        </div>
        <div class="div2_item myi" style="color: white;float: right;font-size: 16px;margin-top: 60px">
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-camera"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-wechat"></i>
            <i class="fa fa-weibo"></i>
            <i class="fa fa-info"></i>
        </div>
    </div>
</div>