<div class="head_top">
    <ul class="clearfix">
        <li class="menu"><a href="/html/myPage.html">mypage</a></li>
        <li class="menu"><a href="/html/register.html">login</a></li>
    </ul>
</div>
<div class="head_bottom">
    <div class="head_bottom_inner">
        <ul class="clearfix">
            <li class="menu first">
                <a href="/newAndBest/newPro">NEW & BEST</a>
                <ul class="myUl">
                    <li style="padding-left: 0px"><a href="/newAndBest/newPro">new product</a></li>
                    <li><a href="/newAndBest/collection">collection</a></li>
                    <li><a href="/newAndBest/best">best</a></li>
                    <li><a href="/newAndBest/winner">Awards Winner</a></li>
                    <li><a href="/newAndBest/lookbook">Lookbook</a></li>
                    <li><a href="/newAndBest/MOTD">MOTD</a></li>
                </ul>
            </li>
            <li class="menu second">
                <a href="/shop/1">SHOP</a>
                <ul class="myUl">
                    <li style="padding-left: 0px"><a href="/shop/1">face</a></li>
                    <li><a href="/shop/2">Lip</a></li>
                    <li><a href="/shop/3">children</a></li>
                    <li><a href="/shop/4">Cheek</a></li>
                    <li><a href="/shop/4">skin care</a></li>
                    <li><a href="/shop/6">Tools</a></li>
                    <li><a href="/shop/7">Fragrance / Nail</a></li>
                </ul>
            </li>
            <li class="menu third"><a href="/event/event_main">EVENT</a></li>
            <li class="menu four">
                <a href="/service/private">SERVICE</a>
                <ul class="myUl">
                    <li style="padding-left: 0px"><a href="/service/private">Private Makeup Lessons</a></li>
                    <li><a href="/service/eyebrowBar">eyebrow Bar</a></li>
                    <li><a href="/service/userCenter">Service center</a></li>
                </ul>
            </li>
        </ul>

        <div class="logo clearfix" style="text-align: center;margin: 0 2%;width: 16%">
            <a href="/html/index.html"><img src="/img/imgIndex/logo.gif" height="36" width="90" style="cursor: pointer;"></a>
        </div>
        <div class="search clearfix" style="text-align: right;width: 40%">
            <i class="fa fa-search" ></i>
            <input type="text" placeholder="SEARCH" style="height: 30px;border:none;outline: none;">
            <i class="fa fa-close"></i>
            <i class="fa fa-shopping-bag btn btn-lg" data-toggle="modal" data-target="#myModal" style="margin: 0 0 6px 50px"></i>
        </div>
    </div>
</div>