<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../comm/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../comm/iconfont/css/font-awesome.css">
    <link rel="stylesheet" href="../css/information.css">
    <style>
        @media screen and (max-width: 1366px) {
            .head_bottom_inner{
                font-size: 12px;
            }
            .first .myUl:nth-of-type(1){
                margin-left: -11.5%;
            }
            .second .myUl:nth-of-type(1){
                margin-left: -20%;
            }
            .four .myUl:nth-of-type(1){
                margin-left: -31.45%;
            }
        }

        @media screen and (min-width: 1367px) {
            .head_bottom_inner{
                font-size: 16px;
            }
            .first .myUl:nth-of-type(1){
                margin-left: -11.05%;
            }
            .second .myUl:nth-of-type(1){
                margin-left: -18.35%;
            }
            .four .myUl:nth-of-type(1){
                margin-left: -27.65%;
            }
        }
        body,html,ol,ul,li{
            margin: 0;
            padding: 0;
            list-style: none;
            color: darkgray;
        }
        h1,h2,h3,h4{
            color: #000;
        }
        a{
            color: darkgray;
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
        input{
            border: none;
            padding: 6px;
            transform: translateY(-2px);
        }
        .head_top{
            background-color: #0f0f0f;
            padding: 10px 10%;
        }
        .head_top:after{
            clear: both;
            display: block;
            content: "";
            height: 0;
        }
        .head_top>.clearfix{
            float: right;
        }
        .head_top>.clearfix>.menu{
            float: left;
            font-size: 12px;
            padding: 0 10px;
            cursor: pointer;
        }
        .head_top>.clearfix>.menu>a:hover{
            color: white;
        }

        .head_bottom{
            height: 90px;
        }
        .head_bottom_inner{
            padding: 20px 10%;
            width: 100%;
            line-height: 47px;
            background-color: white;
            height: 75px;
            position: relative;
            z-index: 999;
        }
        .head_bottom_inner>.clearfix{
            float: left;
            width: 40%;
        }
        .head_bottom_inner>.clearfix>.menu{
            float: left;
            padding: 0 20px;
            font-weight: bold;
            /*position: relative;*/
        }
        .head_bottom_inner>.clearfix>.menu>a:hover{
            color: red;
        }
        .head_bottom_inner>.clearfix>.menu>a{
            color: black;
        }
        .head_bottom_inner>.clearfix>i{
            cursor: pointer;
            font-size: 20px;
            color: black;
        }
        .head_bottom_inner:after{
            clear: both;
            display: block;
            content: "";
            height: 0;
        }

        .first:hover .myUl:nth-of-type(1){
            display: block;
        }
        .second:hover .myUl:nth-of-type(1){
            display: block;
        }
        .four:hover .myUl:nth-of-type(1){
            display: block;
        }
        .myUl{
            position: fixed;
            overflow: hidden;
            width: 100%;
            font-size: 16px;
            background-color: white;
            display: none;
            padding: 0 11%;
            padding-top: 20px;

        }
        .myUl>li{
            float: left;
            padding: 20px 22px;
        }
        .myUl>li>a{
            color: black;
        }
        .myUl>li>a:hover{
            color: red;
        }
        .footer{
            padding: 2% 10%;
            background-color: black;
            font-size: 10px;
        }
        .footer a{
            color: white;
        }
        .footer>.div1:after{
            clear: both;
            display: block;
            content: "";
            height: 0;
        }
        .footer>.div1>.div1_item{
            float: left;
            width: 35%;
        }
        .footer>.div2>.div2_item a{
            margin-right: 10px;
        }
        .footer>.div2>.div2_item a:hover{
            text-decoration: underline;
        }
        .myi>i{
            margin-left: 25px;
            cursor: pointer;
        }
        .indexmodal{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0;
        }
        .indexmodal_content{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 0px;
        }
        .mybody{
            height: 80%;
            /*background-color: deeppink;*/
            width: 90%;
            margin: 0 auto;
            padding-top: 0px;
        }
        .mybody>.body_head{
            padding-bottom: 2%;
            font-size: 18px;
            color: black;
        }
        .mybody>.body_body{
            overflow-y: auto;
            /*text-align: center;*/
            border-top: 1px solid darkgray;
            border-bottom: 1px solid black;
            height: 82%;
            font-size: 22px;
            position: relative;
            color: black;
        }
        .body_body::-webkit-scrollbar {
            width: 4px;
            cursor: pointer;
        }

        .body_body::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: darkgray;
        }

        .body_body::-webkit-scrollbar-track {
            /*background-color:#2f2f2f;*/
            opacity: 1;
        }
        .cell_id{
            padding-top: 20px;
            padding-bottom: 10px;
            overflow: hidden;
        }
        .cell_info{
            font-size: 14px;
        }
        .cell_info>div{
            padding-bottom: 15px;
        }
        .symbol{
            padding: 6px 8px;
            border: 1px solid black;
            cursor: pointer;
        }
        #sawProduct{
            font-size: 14px;
            color: black;
            border-bottom: 1px solid black;
            text-decoration: none;
        }
        .myfoot{
            /*background-color: greenyellow;*/
            width: 90%;
            margin: 0 auto;
            border-top: none;
            text-align: left;
            padding: 10px 15px;
            overflow: hidden;
        }
        .buyNow{
            background-color: #2f2f2f;
            font-size: 20px;
            width: 88%;
            border-radius: 0;
            margin-right: 1%;
            border: none;
            height: 40px;
            float: left;
        }
        .buyNow:hover{
            background-color: black!important;
        }
        .shopBag{
            float: left;
            border: 1px solid black;
            width: 40px;
            height: 40px;
            color: black;
            font-size: 26px;
            line-height: 40px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<%-include head.ejs%>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog indexmodal" role="document" style="width: 510px">
        <div class="modal-content indexmodal_content">
            <div class="modal-header" style="border-bottom: none;padding: 5px 15px">
                <button type="button" class="close" style="font-size: 40px;opacity: 0.8" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body mybody">
                <div class="body_head">
                    <span>1</span>个产品
                </div>
                <div class="body_body">
                    <!--<div style="text-align: center;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%)">-->
                    <!--<div class="fa fa-shopping-cart" style="font-size: 42px"></div>-->
                    <!--<div style="padding:25px 0px 15px 0px">你的购物车是空的</div>-->
                    <!--<div><a href="#" id="sawProduct">查看产品</a></div>-->
                    <!--</div>-->
                    <div class="cell_id">
                        <div style="text-align: right;padding-right: 20px"><i class="fa fa-trash" style="cursor: pointer"></i></div>
                        <div class="cell_img" style="float: left;margin-right: 5%">
                            <img src="../img/imgIndex/cell.png" width="80">
                        </div>
                        <div class="cell_info" style="float: left">
                            <div>Pro Taylor Foundation Beagle SPF25 PA ++</div>
                            <div>
                                <span style="width: 10px;height: 10px;border-radius: 50%;background-color: #f3ebd8;display: inline-block"></span> &nbsp;&nbsp; <span>Poseulrn</span>
                            </div>
                            <div style="font-size: 16px">₩<span class="price">38,000</span></div>
                            <div>
                                <i class="fa fa-minus symbol"></i>
                                <span style="margin: 0 5%" class="number">1</span>
                                <i class="fa fa-plus symbol"></i>
                                <div style="float: right;font-size: 20px">₩ <span class="sum1">38,000</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell_id">
                        <div style="text-align: right;padding-right: 20px"><i class="fa fa-trash" style="cursor: pointer"></i></div>
                        <div class="cell_img" style="float: left;margin-right: 5%">
                            <img src="../img/imgIndex/cell1.png" width="80">
                        </div>
                        <div class="cell_info" style="float: left">
                            <div>Pro Taylor Foundation Beagle SPF25 PA ++</div>
                            <div>
                                <span style="width: 10px;height: 10px;border-radius: 50%;background-color: #f3ebd8;display: inline-block"></span> &nbsp;&nbsp; <span>Poseulrn</span>
                            </div>
                            <div style="font-size: 16px">₩<span class="price">38,000</span></div>
                            <div>
                                <i class="fa fa-minus symbol"></i>
                                <span style="margin: 0 5%" class="number">1</span>
                                <i class="fa fa-plus symbol"></i>
                                <div style="float: right;font-size: 20px">₩ <span class="sum1">38,000</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell_id">
                        <div style="text-align: right;padding-right: 20px"><i class="fa fa-trash" style="cursor: pointer"></i></div>
                        <div class="cell_img" style="float: left;margin-right: 5%">
                            <img src="../img/imgIndex/cell1.png" width="80">
                        </div>
                        <div class="cell_info" style="float: left">
                            <div>Pro Taylor Foundation Beagle SPF25 PA ++</div>
                            <div>
                                <span style="width: 10px;height: 10px;border-radius: 50%;background-color: #f3ebd8;display: inline-block"></span> &nbsp;&nbsp; <span>Poseulrn</span>
                            </div>
                            <div style="font-size: 16px">₩<span class="price">38,000</span></div>
                            <div>
                                <i class="fa fa-minus symbol"></i>
                                <span style="margin: 0 5%" class="number">1</span>
                                <i class="fa fa-plus symbol"></i>
                                <div style="float: right;font-size: 20px">₩ <span class="sum1">38,000</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_foot" style="overflow: hidden;line-height: 40px;color: black;">
                    <span style="float:left;font-size: 14px">TOTAL</span>
                    <span style="float: right;font-size: 22px;font-weight: bold">₩<span class="sum2">38,000</span></span>
                </div>
            </div>
            <div class="modal-footer myfoot">
                <button type="button" class="btn btn-primary buyNow">现在购买</button>
                <div class="shopBag fa fa-shopping-bag" style="text-align: center"></div>
            </div>
        </div>
    </div>
</div>
<div style="height: 90px;width: 100%"></div>
<h1><b>客户中心</b></h1>
<div class="content">
    <div class="navi">
        <ul>
            <li class="user-center"><a href="/service/userCenter">客户中心</a></li>
            <li class="art-chart"><a href="/service/contactUs">联系我们</a></li>
            <li class="problem"><a href="/service/normalQuestion">常见问题</a></li>
            <li class="guide"><a href="/service/shoppingGuide">购物指南</a></li>
            <li class="vip"><a href="/service/vip">会员资格</a></li>
            <li class="find-store"><a href="/service/findStore">寻找商店</a></li>
            <li class="information"><a href="/service/information">通知</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="information-content">
        <div class="left">
            <h3>通知</h3>
            <div class=" navi2">
                <ul>
                    <li><a href="javascript:;" id="hope">希望通知</a></li>
                    <li><a href="javascript:;" id="shopCenter">购物中心通知</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="input-holder margin-30">
                <input type="text" placeholder="输入你的问题">
                <img src="../img/imgUserCenter/btn_sch_v2.png" alt="">
            </div>
            <div class="row">
                <ul>
                    <li class="col-lg-2">没有</li>
                    <li class="col-lg-2">分类</li>
                    <li class="col-lg-6">标题</li>
                    <li class="col-lg-2">日期</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="notice">
    <div class="content1">
        <div>通知</div>
        <div>更多</div>
    </div>
</div>
</body>
<script src="../comm/jquery/jquery-3.2.1.js"></script>
<script src="../comm/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script>
    window.onscroll = function () {
        // console.log(scrollY);
        if (scrollY>=30){
            $('.head_bottom_inner').css({
                'position' : 'fixed',
                'top' : '0px',
                'line-height' : '52px',
                'padding' : '1px 10%',
                'transition' : 'all 0.3s',
                'z-index' : '999',
                'height' : '55px'
            });
            $('.logo').find('img').css({
                'transform' : 'scale(0.7)',
                'transition' : 'all 0.3s'
            });
        }else {
            $('.head_bottom_inner').css({
                'position' : 'relative',
                'line-height' : '47px',
                'padding' : '20px 10%',
                'transition' : 'all 0.3s',
                'z-index' : '999',
                'height' : '75px'
            });
            $('.logo').find('img').css({
                'transform' : 'scale(1)',
                'transition' : 'all 0.3s'
            })
        }
    }

    //将数字转换成 科学计数法
    // var reg = /(?=(\B)(\d{3})+$)/g;

    //计算购物车内所有的商品总价
    function countSum2(){

        let sum2 = 0;
        let osum2 = $('.sum1')

        for (let i=0;i<osum2.length;i++){
            let temp = osum2.eq(i).text();
            temp = parseFloat(temp)
            sum2 += temp;
            // console.log(temp);
        }
        sum2 = sum2.toFixed(2)
        $('.sum2').text(sum2);

        // console.log(sum2)
    }

    //添加当前商品的数量，并计算当前商品总价 and 计算所有商品总价
    $('.body_body').on('click','.fa-plus',myplus)
    function myplus() {
        var mystr = $(this).parent().find('.number').text();
        var num = parseInt(mystr);
        num++;
        $(this).parent().find('.number').text(num);

        //将单价拿到，并转化成number，再与数量想乘
        var price = $(this).parent().parent().find('.price').text();
        price = parseFloat(price);
        var sum1 = num*price;
        // console.log(sum1)

        //将number类型的sum1转化成money的格式（string）
        // console.log(strSum1)
        sum1 = sum1.toFixed(2)
        $(this).parent().find('.sum1').text(sum1);

        countSum2()

    }
    //减少当前商品的数量，并计算当前商品总价 and 计算所有商品总价
    $('.body_body').on('click','.fa-minus',myminus)
    function myminus() {
        var mystr = $(this).parent().find('.number').text();
        var num = parseInt(mystr);
        num--;
        if (num==0){
            num=1;
        }
        $(this).parent().find('.number').text(num);

        //将单价拿到，并转化成number，再与数量想乘
        var price = $(this).parent().parent().find('.price').text();
        price = parseFloat(price);
        var sum1 = num*price;
        // console.log(sum1)

        //将number类型的sum1转化成money的格式（string）
        // console.log(strSum1)
        sum1 = sum1.toFixed(2)
        $(this).parent().find('.sum1').text(sum1);

        countSum2()

    }

    //删除当前商品
    $('.body_body').on('click','.fa-trash',delCell)
    function delCell() {
        var carId = $(this).parent().parent().attr('car_id')
        var reqDataArr = [carId];
        // console.log(reqDataArr)
        var that =this;
        $.ajax({
            url : '/cart/delete',
            type : 'post',
            data : {reqDataArr},
            traditional:true,
            success :function (data) {
                console.log(data)
                if (data.result==200){
                    // console.log('ok')
                    $(that).parent().parent().remove();
                    countSum2()
                    countCell()
                }

            },
            error : function (err) {
                console.log(err)
            }
        })

    }

    //文档加载时，检查是否登陆过
    //并从购物车表拿数据，如果登录过，则根据登录ID拿数据，如果没有登录过，则显示没有商品
    window.onload = function () {
        $.ajax({
            url : '/user/checkLogin',
            type : 'post',
            data : {},
            success : function (data) {
                console.log(data.session,data.msg)
                if (data.session){
                    //如果登录过，将login改成loginout,并将购物车表拿数据渲染到页面
                    $('.head_top').find('.clearfix').html('<li class="menu"><a id="logout" href="javascript:;">loginout</a></li>\n' +
                        '        <li class="menu"><a href="/html/myPage.html">myPage</a></li>')

                    var userId = data.session.user_id
                    $.ajax({
                        url : '/cart/modalCarList',
                        type : 'post',
                        data : {userId},
                        success : function (data) {
                            console.log(data)
                            var str ='';
                            var num =0;
                            for (let i=0;i<data.data.length;i++){
                                str += '<div class="cell_id" user_id="'+data.data[i].user_id+'" car_id="'+data.data[i].car_id+'" product_id="'+data.data[i].product_id+'" color_id="'+data.data[i].color_id+'">\n' +
                                    '                        <div style="text-align: right;padding-right: 20px"><i class="fa fa-trash" style="cursor: pointer"></i></div>\n' +
                                    '                        <div class="cell_img" style="float: left;margin-right: 5%">\n' +
                                    '                            <img class="checkImg" src="../'+data.data[i].pic_path+'" width="80">\n' +
                                    '                        </div>\n' +
                                    '                        <div class="cell_info" style="float: left">\n' +
                                    '                            <div class="checkName">'+data.data[i].product_name+'</div>\n' +
                                    '                            <div>\n' +
                                    '                                <span class="checkColorVal" style="width: 10px;height: 10px;border-radius: 50%;background-color: '+data.data[i].color_value+';display: inline-block"></span> &nbsp;&nbsp; <span class="checkColorName">'+data.data[i].color_name+'</span>\n' +
                                    '                            </div>\n' +
                                    '                            <div style="font-size: 16px">$<span class="price checkPrice">'+data.data[i].price+'</span></div>\n' +
                                    '                            <div style="position: relative">\n' +
                                    '                                <i class="fa fa-minus symbol"></i>\n' +
                                    '                                <span style="margin: 0 5%" class="number checkNum">'+data.data[i].quantity+'</span>\n' +
                                    '                                <i class="fa fa-plus symbol"></i>\n' +
                                    '                                <div style="position: absolute;left: 80%;bottom: 30%;font-size: 20px">$<span class="sum1">'+data.data[i].price*data.data[i].quantity+'</span> </div>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n' +
                                    '                    </div>'

                                num += data.data[i].price*data.data[i].quantity;
                            }
                            $('.body_body').html(str);

                            $('.body_foot').find('.sum2').html(num)
                        }
                    })
                } else {
                    $('.head_top').find('.clearfix').html('<li class="menu"><a href="/html/login.html">login</a></li>\n' +
                        '        <li class="menu"><a href="/html/register.html">Sign Up</a></li>')

                    $('.body_body').html('             <div style="text-align: center;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%)">\n' +
                        '                    <div class="fa fa-shopping-cart" style="font-size: 42px"></div>\n' +
                        '                    <div style="padding:25px 0px 15px 0px">你的购物车是空的</div>\n' +
                        '                    <div><a href="#" id="sawProduct">查看产品</a></div>\n' +
                        '                    </div>')
                }

            },
            error : function (err) {
                console.log(err)
            }
        })
    }

    //点击购物袋弹出模态框之后再将商品的数量渲染出来
    $('#modalCar').on('click',countCell)
    function countCell() {
        var cellNum = $('.cell_id').length;
        $('.body_head').find('span').html(cellNum)
    }

    //点击logout把session清空，再重新渲染页面
    $('.head_top').on('click','#logout',function () {
        $.ajax({
            url : '/user/logout',
            type : 'post',
            data : {},
            success : function (data) {
                // console.log(data.session,data.msg)
                if (data.session){
                    $('.head_top').find('.clearfix').html('<li class="menu"><a id="logout" href="javascript:;">loginout</a></li>\n' +
                        '        <li class="menu"><a href="/html/myPage.html">myPage</a></li>')
                } else {
                    $('.head_top').find('.clearfix').html('<li class="menu"><a href="/html/login.html">login</a></li>\n' +
                        '        <li class="menu"><a href="/html/register.html">Sign Up</a></li>')
                }

            },
            error : function (err) {
                console.log(err)
            }
        })
    })

    //点击现在购买，向check(支付页面)插入新数据
    $('.buyNow').on('click',modalToCheck)
    function modalToCheck() {
        var cell = $('.cell_id')
        var myreqDataArr = [];
        for (var i=0;i<cell.length;i++){
            var car_id = cell.eq(i).attr('car_id');
            var user_id = cell.eq(i).attr('user_id');
            var img = cell.eq(i).find('.checkImg').attr('src');
            img = img.slice(2);
            var name = cell.eq(i).find('.checkName').text()
            var colorVal = cell.eq(i).find('.checkColorVal').css('background-color')
            var count = cell.eq(i).find('.checkNum').text()
            var price = cell.eq(i).find('.checkPrice').text()
            var colorName =cell.eq(i).find('.checkColorName').text()
            var product_id = cell.eq(i).attr('product_id');
            var color_id = cell.eq(i).attr('color_id');
            myreqDataArr.push(car_id,img,name,colorVal,count,price,user_id,colorName,product_id,color_id);
        }
        if (cell.length>0){
            // console.log(img)
            $.ajax({
                url : '/cart/addcheck',
                type: 'post',
                data: {myreqDataArr},
                traditional : true,
                success : function (data) {
                    if (data.result==200){
                        // console.log('ok')
                        location.href='/myPage/list/12';
                    } else {
                        console.log('客户端错误')
                    }
                }
            })
        }
    }

</script>
</html>