
<link rel="stylesheet" href="/css/mypage_onsale.css">
<section class="distribute">
    <div>优惠券</div>
    <div class="information">
        <ul class="favorable">
            <li>
                <span>0</span>
                <span>可用的优惠券</span>
            </li>
            <li>
                <span>0</span>
                <span>7天内到期的优惠券</span>
            </li>
            <li>
                <span>0</span>
                <span>可下载的优惠券</span>
            </li>
        </ul>
    </div>

</section>
<section class="register_favor">
    <div>
        <div class="favor_text">优惠券</div>
        <div class="register_box">
            <p>
                注册优惠券
            </p>
            <input type="text" placeholder="输入优惠券编号">
            <button type="button">注册</button>
        </div>
    </div>
</section>

<section class="transportation">
    <div>
        <ul class="favor_twoText">
            <li>可用的优惠券</li>
            <li>已使用的优惠券</li>
        </ul>
    </div>
</section>
<section class="banner">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>优惠券号码</th>
                <th>优惠券名称</th>
                <th >金额限制</th>
                <th colspan="3">发行日期</th>
                <th>截止日期</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>