<section class="myPage_nav"><!--导航条-->
    <div class="container_nav">
        <ul>
            <li><a href="/myPage/list/1">我的订单信息</a></li>
            <li><a href="/myPage/list/2">订单运输查询</a></li>
            <li><a href="/myPage/list/3">我的购买历史</a></li>
            <li><a href="/myPage/list/4">优惠券</a></li>
            <li><a href="/myPage/list/5">愿望清单</a></li>
            <li><a href="/myPage/list/6">最近浏览商品</a></li>
            <li><a href="/myPage/list/7">我的评论</a></li>
            <li><a href="/myPage/list/8">我的信息</a></li>
        </ul>
    </div>
</section>